/*
 *  popup.css
 *  Hoshi Reader
 *
 *  Copyright © 2026 Manhhao.
 *  Copyright © 2023-2025 Yomitan Authors (marked pitch styles)
 *  Copyright © 2021-2022 Yomichan Authors (marked pitch styles)
 *  SPDX-License-Identifier: GPL-3.0-or-later
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: transparent;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif !important;
    padding: 0 6px;
    overflow-x: hidden;
}

.entry {
    padding: 4px 0;
}

.entry-header {
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.expression {
    font-size: 26px;
}

.expression rt {
    font-size: 12px;
    -webkit-user-select: none;
}

.mine-button {
    margin-left: auto;
    padding: 0 4px;
    border: none;
    background: transparent;
    color: inherit;
    font-size: 18px;
    opacity: 0.3;
    -webkit-user-select: none;
    line-height: 1;
}

.entry-tags {
    margin-top: -4px;
    -webkit-user-select: none;
}

.tag-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 3px;
    line-height: 1;
}

.deinflection-tag {
    font-size: 11px;
    padding: 2px 4px;
    margin-right: 2px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 4px;
    color: inherit;
}

.frequency-group {
    display: inline-flex;
    font-size: 11px;
    border: 1px solid #77aaeb;
    border-radius: 4px;
    overflow: hidden;
}

.frequency-dict-label {
    display: flex;
    align-items: center;
    background-color: #77aaeb;
    color: #fff;
    padding: 4px 4px;
}

.frequency-values {
    padding: 4px 4px;
}

hr {
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    margin: 0;
}

.glossary-group summary {
    list-style: none;
}

.glossary-group summary::-webkit-details-marker {
    display: none;
}

.glossary-group summary::before {
    content: '▶ ';
    font-size: 8px;
    opacity: 0.5;
}

.glossary-group[open] summary::before {
    content: '▼ ';
}

.dict-label {
    font-size: 10px;
    opacity: 0.7;
    display: inline;
}

.overlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    padding: 10px;
    z-index: 727;
    background: #eee;
}

.overlay-content {
    font-size: 14px;
    padding-right: 20px;
    white-space: pre-wrap;
}

.overlay-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    line-height: 1;
}

.pitch-list {
    margin: 3px 0 0 0;
    font-size: 12px;
}

.pitch-dict-label {
    background-color: #94a6eb;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

.pitch-entries {
    list-style: circle inside;
    margin: 2px 0 0 0;
    padding: 0;
}

/* https://github.com/yomidevs/yomitan/blob/master/ext/css/display-pronunciation.css */
.pronunciation-mora {
    position: relative;
}

.pronunciation-mora[data-pitch="high"] > .pronunciation-mora-line {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    border-top: 1px solid currentColor;
}

.pronunciation-mora[data-pitch="high"][data-pitch-next="low"] > .pronunciation-mora-line {
    right: -1px;
    height: 0.4em;
    border-right: 1px solid currentColor;
}

.pronunciation-mora[data-pitch="high"][data-pitch-next="low"] {
    padding-right: 1px;
    margin-right: 1px;
}

@media (prefers-color-scheme: light) {
    
    html,
    body {
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    
    html,
    body {
        color: #fff;
    }
    
    .overlay {
        background: #222;
    }
}
